<!-- Modal -->
<div
  class="modal fade bg-black cart-modal"
  id="cartModal"
  tabindex="-1"
  aria-labelledby="cartModalLabel"
  aria-hidden="true"
  data-bs-backdrop="false">
  {% section 'ajax-cart' %}
</div>