{% for item in cart.items %}
  <div class="cart-item">
    <h6>{{ item.product.title }}</h6>
    <p>Quantity: {{ item.quantity }}</p>
    <p>Price: {{ item.price | money }}</p>
    <p>SKU: {{ item.sku }}</p>
  </div>
  <hr>
{% endfor %}


{% schema %}
  {
    "name": "Cart Items",
    "settings": []
  }
{% endschema %}