<section class="sec-2" data-scroll-section>
  <div class="container">
    <h2
      data-scroll
      data-scroll-direction="horizontal"
      data-scroll-speed="-3">COBRAS COFFEE</h2>
  </div>
</section>

{% schema %}
  {
    "name": "Bigtext Banner",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "id": "banner-text",
        "type": "text",
        "label": "Banner Text"
      }
    ],
    "presets": [
      {
        "name": "Bigtext Banner"
      }
    ]
  }
{% endschema %}