<section class="sec-2">
  <div
    class="container"
    data-aos="fade-left"
    data-aos-duration="1000">
    <h2>{{ section.settings.banner-text }}</h2>
  </div>
</section>

{% schema %}
  {
    "name": "Bigtext Banner",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "id": "banner-text",
        "type": "text",
        "label": "Banner Text"
      }
    ],
    "presets": [
      {
        "name": "Bigtext Banner"
      }
    ]
  }
{% endschema %}