<section class="sec-2">
  <div class="container">
    <h2>Cobra Coffee</h2>
  </div>
</section>


{% schema %}
  {
    "name": "t:sections.bigtext-banner.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "t:sections.bigtext-banner.presets.name"
      }
    ]
  }
{% endschema %}