<div class="fixed_wrapper">
  <div class="fixed_target" id="fixed-target"></div>
  <div
    class="fixed"
    data-scroll
    data-scroll-sticky
    data-scroll-target="#fixed-target">
    <footer class="footer">
      <div class="container">
        <div class="ftr-frm">
          <form>
            <input type="email" placeholder="Enter email" />
            <input type="submit" value="Submit" />
          </form>
        </div>
        <div class="row ftr-content-wrap">
          <div class="col-md-4 left">
            <p>THE UNDISPUTED KING <br/>OF BOLD COFFEE</p>
          </div>
          <div class="col-auto">
            <ul class="ftr-menu">
              <li>
                <a href="">Contact</a>
              </li>
              <li>
                <a href="faq.html">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 right">
            <p>
              <a href="index.html">@COBRASCOFFEE</a>
            </p>
          </div>
        </div>
        <div class="ftr-big-text">
          <h2>COBRAS COFFEE</h2>
        </div>
        <div class="row ftr-content-wrap">
          <div class="col-md-4 left">
            <p>
              <a href="index.html">©COBRAS COFFEE</a>
              2023. ALL RIGHTS
              RESERVED
            </p>
          </div>
          <div class="col-md-4 mid">
            <a href="#">Terms</a>
          </div>
          <div class="col-md-4 right">
            <a href="#">Privacy</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>