<section class="product-sec">
  <div class="container2">
    <div class="product-cat-filter">
      <ul>
        {% for link in linklists.main-menu.links %}
          <li>
            <a class="{% if link.current %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="product-color-filter">
      <ul>
        <li>
          <div class="c-checkbox color1">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
        <li>
          <div class="c-checkbox color2">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
        <li>
          <div class="c-checkbox color3">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
      </ul>
    </div>
    <div class="row product-list">
      {%- for product in collection.products -%}
        {{ product | json }}
      {%- endfor -%}

    </div>
  </div>
</section>
{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "section",
    "settings": []
  }
{% endschema %}