<section class="product-sec">
  <div class="container2">
    <div class="product-cat-filter">
      <ul>
        <li>
          <a href="coffee.html">COFFEE</a>
        </li>
        <li class="active">
          <a href="apparel.html">APPAREL</a>
        </li>
        <li>
          <a href="gear.html">GEAR</a>
        </li>
      </ul>
    </div>
    <div class="product-color-filter">
      <ul>
        <li>
          <div class="c-checkbox color1">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
        <li>
          <div class="c-checkbox color2">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
        <li>
          <div class="c-checkbox color3">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
      </ul>
    </div>
    <div class="row product-list">
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1-f.webp"
              alt="">
            <img
              class="back"
              src="images/product1-b.webp"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Tee Shirt</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1-f.webp"
              alt="">
            <img
              class="back"
              src="images/product1-b.webp"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Tee Shirt</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1-f.webp"
              alt="">
            <img
              class="back"
              src="images/product1-b.webp"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Tee Shirt</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1-f.webp"
              alt="">
            <img
              class="back"
              src="images/product1-b.webp"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Tee Shirt</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1-f.webp"
              alt="">
            <img
              class="back"
              src="images/product1-b.webp"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Tee Shirt</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1-f.webp"
              alt="">
            <img
              class="back"
              src="images/product1-b.webp"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Tee Shirt</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1-f.webp"
              alt="">
            <img
              class="back"
              src="images/product1-b.webp"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Tee Shirt</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product5.png"
              alt="">
            <img
              class="back"
              src="images/product5.png"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-03 Sweat Short</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product4.png"
              alt="">
            <img
              class="back"
              src="images/product4.png"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-03 Sweat Short</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>

      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product3.png"
              alt="">
            <img
              class="back"
              src="images/product3.png"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Sweat Short</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product2.png"
              alt="">
            <img
              class="back"
              src="images/product2.png"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-02 Dad Hat</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1.png"
              alt="">
            <img
              class="back"
              src="images/product1.png"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-03 Dad Hat</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "section",
    "settings": []
  }
{% endschema %}