<section class="product-sec">
  <div class="container-fluid">
    <div class="product-slider slick-carousel">
      <div>
        {%- assign slider_collections = collections[section.settings.collection] -%}

        {% for product in slider_collections %}
          {% if product.products_count > 10 %}
            <div class="product-box">
              <figure><img src="{{ product | img_url: 'master' }}" alt="product-img"></figure>
              <div class="pro-btn">
                <i class="fas fa-chevron-up"></i>
                <a href="{{ product.url }}" class="btn">{{ product.title }}</a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Product Slider",
    "class": "product-slider",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ]
  }
{% endschema %}