<section class="product-sec">
  <div class="container-fluid">
    <div class="product-slider slick-carousel">
      <div>
        {%- assign slider_collections = section.settings.collection.products -%}
        {% for product in slider_collections %}
          <div>
            <div class="product-box">
              <figure><img
                  loading="lazy"
                  src="{{ product | img_url: 'master' }}"
                  alt="{{ product.title }}"></figure>
              <div class="pro-btn">
                <i class="fas fa-chevron-up"></i>
                <a href="{{ product.url }}" class="btn">{{ product.title }}</a>
              </div>
            </div>
          </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product Slider",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Product Slider"
      }
    ]
  }
{% endschema %}