<section class="product-sec">
  <div class="container-fluid">
    <div class="">
      <div>
        <!-- {%- assign slider_collections = collections[section.settings.slider_collections] -%} -->

        {{ section.settings.collection | json }}
        {% for product in section.settings.collection.products  %}
          <div class="product-box">
            <!-- <figure><img src="{{ product | img_url: 'master' }}" alt="product-img"></figure> -->
            <div class="pro-btn">
              <i class="fas fa-chevron-up"></i>
              <a href="{{ product.url }}" class="btn">{{ product.title }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product Slider",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Product Slider"
      }
    ]
  }
{% endschema %}