<!-- product details slider section start -->


<section
  class="product-details-slider-sec"
  class="related-products"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4">
  <div class="container-fluid">
    <div class="product-details-slider slick-carousel">
      <div>
        <div class="product-details-sbox">
          <a href="#"><img src="images/coffe.jpg" alt=""></a>
        </div>
      </div>
      <div>
        <div class="product-details-sbox">
          <a href="#"><img src="images/coffe.jpg" alt=""></a>
        </div>
      </div>
      <div>
        <div class="product-details-sbox">
          <a href="#"><img src="images/coffe.jpg" alt=""></a>
        </div>
      </div>
      <div>
        <div class="product-details-sbox">
          <a href="#"><img src="images/coffe.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- product detail slider section end -->

{% schema %}
  {
    "name": "t:sections.related-products.name",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}