<!-- product details slider section start -->
<product-recommendations class="product-details-slider-sec related-products" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4">
  <div class="container-fluid">
    <div class="product-details-slider slick-carousel"></div>
  </div>
</product-recommendations>

<!-- product detail slider section end -->

{% schema %}
  {
    "name": "t:sections.related-products.name",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}