<!-- product details slider section start -->
<section class="product-details-slider-sec">
  <div class="container-fluid">
    <div class="product-details-slider slick-carousel">
      {%- for product in recommendations.products -%}
        <div>
          <div class="product-details-sbox">
            <a href="{{ product.url }}"><img src="{{ product.featured_image | image_url: 'master' }}" alt="{{ product.title }}"></a>
          </div>
        </div>
      {%- endfor -%}

    </div>
  </div>
</section>
<!-- product detail slider section end -->

{% schema %}
  {
    "name": "t:sections.related-products.name",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}