<!-- product details slider section start -->
<section class="product-details-slider-sec">
  <div class="container-fluid">
    <div class="product-details-slider slick-carousel">
      <div>
        <div class="product-details-sbox">
          <a href="#">title</a>
        </div>
      </div>
      <div>
        <div class="product-details-sbox">
          <a href="#">title</a>
        </div>
      </div>
      <div>
        <div class="product-details-sbox">
          <a href="#">title</a>
        </div>
      </div>
      <div>
        <div class="product-details-sbox">
          <a href="#">title</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product detail slider section end -->

{% schema %}
  {
    "name": "t:sections.related-products.name",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}