<section class="world-mission-sec section">
  <div class="container">
    <a href="#" class="btn">World Mission</a>
    <h3>{{ section.settings.heading_text | safe }}</h3>
  </div>
</section>


{% schema %}
  {
    "name": "World Mission Section",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "id": "heading_text",
        "type": "textarea",
        "label": "Heading Text",
        "default": "We <span>Believe</span> in a world without boring coffee. <span>dominate</span> with the undisputed king of <span>Bold</span> coffee... cobras coffee"
      }
    ],
    "presets": [
      {
        "name": "World Mission Section"
      }
    ]
  }
{% endschema %}