<section class="world-mission-sec">
  <div class="container">
    <a href="#" class="btn">World Mission</a>
    <h3>We
      <span>Believe</span>
      in a world without boring coffee.
      <span>dominate</span>
      with the undisputed king of
      <span>Bold</span>
      coffee... cobras coffee</h3>
  </div>
</section>


{% schema %}
  {
    "name": "World Mission Section",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "World Mission Section"
      }
    ]
  }
{% endschema %}