<section class="world-mission-sec scroll-section">
  <div class="container">
    <a
      href="{{ section.settings.link_url }}"
      class="btn"
      data-aos="flip-down">{{ section.settings.link_text }}</a>
    <h3>{{ section.settings.heading_text | safe }}</h3>
  </div>
</section>


{% schema %}
  {
    "name": "World Mission Section",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "id": "heading_text",
        "type": "textarea",
        "label": "Heading Text",
        "default": "We <span>Believe</span> in a world without boring coffee. <span>dominate</span> with the undisputed king of <span>Bold</span> coffee... cobras coffee"
      }, {
        "type": "text",
        "label": "World Mission Link Text",
        "id": "link_text",
        "default": "World Mission"
      }, {
        "type": "url",
        "label": "World Mission Link URL",
        "id": "link_url"
      }
    ],
    "presets": [
      {
        "name": "World Mission Section"
      }
    ]
  }
{% endschema %}