<section class="faq-sec">
  <div class="container">
    <h1 class="title">FAQ</h1>
    <div class="faq-nav">
      <ul
        class="nav nav-tabs"
        id="myTab"
        role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="btn active"
            id="tab1"
            data-bs-toggle="tab"
            data-bs-target="#tab-content1"
            type="button"
            role="tab"
            aria-controls="tab-content1"
            aria-selected="true">ALL</button>
        </li>
        <li>
          <button
            class="btn"
            id="tab2"
            data-bs-toggle="tab"
            data-bs-target="#tab-content2"
            type="button"
            role="tab"
            aria-controls="tab-content2"
            aria-selected="false">my orders</button>

        </li>

        <li>
          <button
            class="btn"
            id="tab3"
            data-bs-toggle="tab"
            data-bs-target="#tab-content3"
            type="button"
            role="tab"
            aria-controls="tab-content3"
            aria-selected="false">Shipping</button>
        </li>
        <li>
          <button
            class="btn"
            id="tab4"
            data-bs-toggle="tab"
            data-bs-target="#tab-content4"
            type="button"
            role="tab"
            aria-controls="tab-content4"
            aria-selected="false">Coffee</button>
        </li>
      </ul>
    </div>
    <div class="tab-content faq-tbs-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="tab-content1"
        role="tabpanel"
        aria-labelledby="tab1">
        <button type="button" class="res-tbs-btn btn">All</button>
        <div class="accordion faq-accordion active" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">
                When does my coffee get roasted?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We roast to order. Which means your coffee is roasted fresh.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo">
                Where do you source your coffee from?
              </button>
            </h2>

            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We source from all around the world. Always searching for the best coffee in the world.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree">
                When will my order ship?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We ship orders 2-3 business days after we receive your order.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour">
                Do you ship international?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse show"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Yes, we do. Should you have further questions please contact our team at
                  <a href="hello@bigfacebrand.com">hello@bigfacebrand.com</a>
                </p>
                <p>Please note, the recipient of the international order will be responsible to pay any applicable import tariffs or fees as deemed necessary by the shipping provider.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive">
                HOW DO I RECEIVE FREE SHIPPING?
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We always offer free shipping on US orders of $75 and above.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix">
                MY ORDER SHIPPED BUT THERE ARE NO TRACKING UPDATES. IS MY ORDER LOST?
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Tracking numbers are generated when we create shipping labels, at which point you are alerted. There are times when it may take a few days for the order to be handed off and then scanned by USPS or FEDEX. Please wait a week for this to update before contacting support.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven">
                WHAT IS YOUR RETURN POLICY?
              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse"
              aria-labelledby="headingSeven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Our vision is a world with better coffee, big dreams, and bigger smiles! If you aren’t satisfied with your order we are happy to help! Please note the following details to our return policy before reaching out:
                  <br>
                  <b>Coffee</b>
                  - Coffee is perishable and is roasted to order, so we're unable to accept returns on coffee. However, if there was an error with your order, or if you were dissatisfied with the quality of your coffee, our expert customer service crew is here to help. Please email hello@bigfacebrand.com within 14 days of your purchase to seek a resolution.
                  <br>
                  <b>Not Coffee</b>
                  - If you are dissatisfied with your order in any way, don’t hesitate to reach out to our Customer Experience team at hello@bigfacebrand.com within 14 days of your purchase. We do not accept returns on items that have come in contact with perishable goods. This includes grinders, kettles, or other brew oriented products. We do not give refunds but we can exchange apparel products or give you store credit for your next purchase.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight">
                I PLACED AN ORDER. CAN I ADD ITEMS, MODIFY, OR CANCEL THE ORDER?
              </button>
            </h2>
            <div
              id="collapseEight"
              class="accordion-collapse collapse"
              aria-labelledby="headingEight"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Unfortunately, no. Your order is committed to our system almost immediately after placing the order.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="tab-content2"
        role="tabpanel"
        aria-labelledby="tab2">
        <button type="button" class="res-tbs-btn btn">My orders</button>
        <div class="accordion faq-accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">
                When will my order ship?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We ship orders 2-3 business days after we receive your order.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo">
                My order shipped but there are no tracking updates. Is my order lost?
              </button>
            </h2>

            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Tracking numbers are generated when we create shipping labels, at which point you are alerted. There are times when it may take a few days for the order to be handed off and then scanned by USPS or FEDEX. Please wait a week for this to update before contacting support.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree">
                What is your return policy?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Our vision is a world with better coffee, big dreams, and bigger smiles! If you aren’t satisfied with your order we are happy to help! Please note the following details to our return policy before reaching out:
                  <br>
                  <b>Coffee</b>
                  - Coffee is perishable and is roasted to order, so we're unable to accept returns on coffee. However, if there was an error with your order, or if you were dissatisfied with the quality of your coffee, our expert customer service crew is here to help. Please email hello@bigfacebrand.com within 14 days of your purchase to seek a resolution.
                  <br>
                  <b>Not Coffee</b>
                  - If you are dissatisfied with your order in any way, don’t hesitate to reach out to our Customer Experience team at hello@bigfacebrand.com within 14 days of your purchase. We do not accept returns on items that have come in contact with perishable goods. This includes grinders, kettles, or other brew oriented products. We do not give refunds but we can exchange apparel products or give you store credit for your next purchase.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour">
                I placed an order. Can I add items, modify, or cancel the order?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse show"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Unfortunately, no. Your order is committed to our system almost immediately after placing the order.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div
        class="tab-pane fade"
        id="tab-content3"
        role="tabpanel"
        aria-labelledby="tab3">
        <button type="button" class="res-tbs-btn btn">Shipping</button>
        <div class="accordion faq-accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">
                Do you ship international?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Yes, we do. Should you have further questions please contact our team at
                  <a href="hello@bigfacebrand.com">hello@bigfacebrand.com</a>
                </p>
                <p>Please note, the recipient of the international order will be responsible to pay any applicable import tariffs or fees as deemed necessary by the shipping provider.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo">
                How do I receive free shipping?
              </button>
            </h2>

            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We always offer free shipping on US orders of $75 and above.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div
        class="tab-pane fade"
        id="tab-content4"
        role="tabpanel"
        aria-labelledby="tab4">
        <button type="button" class="res-tbs-btn btn">Coffee</button>
        <div class="accordion faq-accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">
                When does my coffee get roasted?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We roast to order. Which means your coffee is roasted fresh.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo">
                Where do you source your coffee from?
              </button>
            </h2>

            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We source from all around the world. Always searching for the best coffee in the world.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>