<!-- mission section start -->
<section class="mission-sec">
  <div class="container2">
    <figure class="f-img"><img src="/assets/flag.png" alt=""></figure>
    <div class="row btm-con">
      <div class="col-md-5">
        <h3>ELEVATING HUMANITY WITH COFFEE</h3>
      </div>
      <div class="col-md-7 pt-3">
        <div class="row">
          <div class="col-md-6">
            <p class="top-p">
              <b>Empowered! Inspired! Revitalized! United!</b>
            </p>
            <p>COFFEE HAS INFUSED OUR LIVES WITH POWERFUL EXPERIENCES</p>
          </div>
          <div class="col-md-6 text-end">
            <p class="right-top-p">COBRAS COFFEE WORLDWIDE
            </p>
            <a href="/pages/about" class="btn">About Cobras Coffee<i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- mission section end -->