<!-- About section1 start -->
<section class="about-sec1">
  <div class="container2">
    <!--<div class="breadcrumb">
    <a href="about.html">About Us</a>
    </div> -->
    <figure class="about-logo"><img src="{{  'about-logo.png' | asset_url}}" alt="About Logo"></figure>
    <h3>WE BELIEVE IN A WORLD WITHOUT BORING COFFEE. DOMINATE WITH THEUNDISPUTED KING OF BOLD COFFEE… COBRAS COFFEE</h3>
    <div class="row bottom-desc">
      <div class="col-md-5">
        <h4>COBRAS COFFEE
          WORLDWIDE</h4>
      </div>
      <div class="col-md-7">
        <p>The formidable Cobras Coffee - revered as "The Undisputed King of Bold Coffee”, channels our unwavering commitment to exceptional craft, unparalleled sourcing, captivating stories, and visionary ingenuity. Our coffee commands your attention and reigns supreme in the world of robust coffee.</p>
        <p>Cobras Coffee is more than just a brand; it is a way of life. It incorporates the dominant force that ignites our energy, inspiration, and will. We believe that a single cup of Cobras Coffee conquers the unique challenges of the day.</p>
      </div>
    </div>
  </div>
</section>
<!-- About section1 end -->
<!-- About section2 start -->
<section class="about-sec2">
  <div class="container2">
    <h3>Empowered! 
      Inspired! Revitalized! United!</h3>
  </div>
</section>
<!-- About section2 end -->